# Unity Build dosyaları için güvenli binary tanımlamaları
*.assets.resS filter=lfs diff=lfs merge=lfs -text binary
*.resource filter=lfs diff=lfs merge=lfs -text binary
*.assets filter=lfs diff=lfs merge=lfs -text binary
*.exe filter=lfs diff=lfs merge=lfs -text binary
*.dll filter=lfs diff=lfs merge=lfs -text binary

# Klasör bazlı genel kural (opsiyonel ama garantidir)
klasor3/** filter=lfs diff=lfs merge=lfs -text binary